<style type="text/css">
	body{
		font-family: Verdana;
		font-size: 11px;
	}

	table{
		text-align: center;
		width: 100%;
		border-collapse: collapse;
	}
	table td{
		width: 17%;
	}
	
	table thead tr th{
		border-bottom: solid 1px #000;
		border-top: solid 1px #000;
	}
	
	.hdr tr{
		border: solid 1px #000;
	}
	
</style>
<br/>
<table class="hdr">
	<tbody>
		<tr>
			<td>NOMBRE DEL CONTRIBUYENTE: {nombre_empresa}</td>
			<td>PERIODO: Del {fecha_1} al {fecha_2}</td>
		</tr>
		<tr>
			<td>NIT: {nit}</td>
			<td>NRC: {nrc}</td>
		</tr>
	</tbody>
</table>
<table>
	<thead>
		<tr>
			<th>
				Fecha
			</th>
			<th>
				Documento
			</th>
			<th>
				Concepto
			</th>
			<th>
				(+) Entradas
			</th>
			<th>
				(-) Salidas
			</th>
			<th>
				Saldo
			</th>
		</tr>
	</thead>
	<!-- START contenido -->
	<tr>
		<td>{fecha}</td>
		<td>{documento}</td>
		<td>{concepto}</td>
		<td>{entradas}</td>
		<td>{salidas}</td>
		<td>{saldo}</td>
	</tr>
	<!-- END contenido -->
</table>