<style type="text/css">
	table{
		text-align: center;
		width: 100%;
	}
	table td{
		width: 21%;
	}
	
	table thead tr th{
		border-bottom: solid 1px #000;
		border-top: solid 1px #000;
	}
	
</style>
Saldos a la fecha: {fecha_saldos}
<br/>
<br/>
<!-- START bodegas -->
<strong>{bodega_nombre}</strong>
<table>
	<thead>
		<tr>
			<th>
				Linea
			</th>
			<th>
				Pares
			</th>
			<th>
				Total costo
			</th>
			<th>
				Total precio
			</th>
			<th>
				Margen
			</th>
		</tr>
	</thead>
	<!-- START contenido_b{bodega} -->
	<tr>
		<td>{id_linea} {nombre_linea}</td>
		<td>{pares}</td>
		<td>${total_costo}</td>
		<td>${total_precio}</td>
	</tr>
	<!-- END contenido_b{bodega} -->
</table>
<br/>
<!-- END bodegas -->