<style type="text/css">
	body{
		font-family: Verdana;
		font-size: 11px;
	}

	table{
		text-align: center;
		width: 100%;
		border-collapse: collapse;
	}
	
	table thead tr th{
		border-bottom: solid 1px #000;
		border-top: solid 1px #000;
	}
	
	.hdr tr{
		border: solid 1px #000;
	}
	
</style>
<br/>
<!-- START bodegasylineas -->
<table style="page-break-inside: avoid;">
		<thead>
		<tr>
			<th colspan="6">NOMBRE DEL CONTRIBUYENTE: {nombre_empresa}</th>
			<th colspan="6">PERIODO: Del {fecha_1} al {fecha_2}</th>
		</tr>
		<tr>
			<th colspan="6">NIT: {nit}</th>
			<th colspan="6">NRC: {nrc}</th>
		</tr>
		<tr>
			<th colspan="6">NOMBRE, RAZON SOCIAL DEL PROVEEDOR: [{proveedor}] {proveedor_nombre}</th>
			<th colspan="6">NACIONALIDAD DEL PROVEEDOR: {nacionalidad_proveedor}</th>
		</tr>
		<tr>
			<th colspan="6">BODEGA: [{bodega}] {bodega_nombre}</th>
			<th colspan="6">LINEA DE PRODUCTO: [{linea}] {linea_nombre}</th>
		</tr>
		<tr>
			<th>
				Estilo
			</th>
			<th>
				Color
			</th>
			<th>
				Talla
			</th>
			<th>
				Fecha
			</th>
			<th>
				Codigo
			</th>
			<th>
				Descripcion
			</th>
			<th>
				Documento
			</th>
			<th>
				Ref retaceo No.
			</th>
			<th>
				Concepto
			</th>
			<th>
				(+) Entradas
			</th>
			<th>
				(-) Salidas
			</th>
			<th>
				Saldo
			</th>
		</tr>
	</thead>
	<!-- START contenido_bl{bodega}_{linea}_{proveedor} -->
	<tr>
		<td>{estilo}</td>
		<td>{color}</td>
		<td>{talla}</td>
		<td>{fecha}</td>
		<td>{articulo}</td>
		<td>{descripcion}</td>
		<td>{documento}</td>
		<td>{referencia_recateo_no}</td>
		<td>{concepto}</td>
		<td>{entradas}</td>
		<td>{salidas}</td>
		<td>{saldo}</td>
	</tr>
	<!-- END contenido_bl{bodega}_{linea}_{proveedor} -->
</table>
<br/>
<!-- END bodegasylineas -->