<style type="text/css">
	body{
		font-family: Verdana;
		font-size: 11px;
	}

	table{
		text-align: center;
		width: 100%;
		border-collapse: collapse;
	}
	
	.tab td{
		width: 20%;
		border: solid 1px #000;
	}
	
	.tab thead tr th{
		border-bottom: solid 1px #000;
		border-top: solid 1px #000;
	}
	
</style>
<table class="tab">
	<thead>
		<tr>
			<th>
				Linea
			</th>
			<th>
				Proveedor
			</th>
			<th>
				Teorico
			</th>
			<th>
				Fisico
			</th>
			<th>
				Diferencia
			</th>
		</tr>
	</thead>
	<!-- START comparativo -->
	<tr>
		<td>{linea}</td>
		<td>{proveedor}</td>
		<td>{stock}</td>
		<td></td>
		<td>-{stock}</td>
	</tr>
	<!-- END comparativo -->
</table>
<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--<strong>Total pares: <span style="text-decoration: underline;"> {total} </span></strong>-->
<br/>