<style type="text/css">
	table{
		text-align: center;
		width: 100%;
	}
	table td{
		width: 22%;
	}
	
	table thead tr th{
		border-bottom: solid 1px #000;
		border-top: solid 1px #000;
	}
	
</style>
Saldos a la fecha: {fecha_saldos}
<br/>
<br/>
<table>
	<thead>
		<tr>
			<th>
				Bodega
			</th>
			<th>
				Pares
			</th>
			<th>
				Total costo
			</th>
			<th>
				Total precio
			</th>
			<th>
				Margen
			</th>
		</tr>
	</thead>
	<!-- START contenido -->
	<tr>
		<td>{nombre_bodega}</td>
		<td>{pares}</td>
		<td>${total_costo}</td>
		<td>${total_precio}</td>
	</tr>
	<!-- END contenido -->
</table>