<script type="text/javascript">
	var provApp = angular.module('provApp',[ ]);
	
	provApp.controller('provController', function($scope, $http){
		$scope.id = "--";
		$scope.nombre_de_sociedad = "--";
		$scope.direccion_de_oficina = "--";
		$scope.direccion_de_venta = "--";
		$scope.direccion_de_cobro = "--";
		$scope.contacto_en_oficina = "--";
		$scope.contacto_en_bodega = "--";
		$scope.telefono_regular_oficina = "--";
		$scope.telefono_regular_bodega = "--";
		$scope.telefono_movil_1 = "--";
		$scope.telefono_movil_2 = "--";
		$scope.telefono_movil_3 = "--";
		$scope.NRC = "--";
		$scope.NIT = "--";
		$scope.giro = "--";
		$scope.descripcion_de_producto = "--";
		$scope.dia_de_entrega = "--";
		$scope.dia_de_pago = "--";
		$scope.no_cuenta_bancaria = "--";
		$scope.nombre_cuenta_bancaria = "--";
		$scope.banco = "--";
		$scope.nombre = "--";
		
		$scope.consultarProveedor = function(){
			if(!isNaN($scope.id) && $scope.id.trim()!=""){
				var uri  = "/terceros/terceros/get_data_proveedores";
				var data = {codigo: $scope.id};
				
				$http.post(uri,data).success(function(resp){
					//$scope.id = resp.id;
					var dias = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"];
					
					if(resp.exists){
						$scope.nombre_de_sociedad = resp.nombre_de_sociedad;
						$scope.direccion_de_oficina = resp.direccion_de_oficina;
						$scope.direccion_de_venta = resp.direccion_de_venta;
						$scope.direccion_de_cobro = resp.direccion_de_cobro;
						$scope.contacto_en_oficina = resp.contacto_en_oficina;
						$scope.contacto_en_bodega = resp.contacto_en_bodega;
						$scope.telefono_regular_oficina = resp.telefono_regular_oficina;
						$scope.telefono_regular_bodega = resp.telefono_regular_bodega;
						$scope.telefono_movil_1 = resp.telefono_movil_1;
						$scope.telefono_movil_2 = resp.telefono_movil_2;
						$scope.telefono_movil_3 = resp.telefono_movil_3;
						$scope.NRC = resp.NRC;
						$scope.NIT = resp.NIT;
						$scope.giro = resp.giro;
						$scope.descripcion_de_producto = resp.descripcion_de_producto;
						$scope.dia_de_entrega = dias[resp.dia_de_entrega-1];
						$scope.dia_de_pago = dias[resp.dia_de_pago-1];
						$scope.no_cuenta_bancaria = resp.no_cuenta_bancaria;
						$scope.nombre_cuenta_bancaria = resp.nombre_cuenta_bancaria;
						$scope.banco = resp.banco;
						$scope.nombre = resp.nombre;
					}else{
						$scope.nombre_de_sociedad = "--";
						$scope.direccion_de_oficina = "--";
						$scope.direccion_de_venta = "--";
						$scope.direccion_de_cobro = "--";
						$scope.contacto_en_oficina = "--";
						$scope.contacto_en_bodega = "--";
						$scope.telefono_regular_oficina = "--";
						$scope.telefono_regular_bodega = "--";
						$scope.telefono_movil_1 = "--";
						$scope.telefono_movil_2 = "--";
						$scope.telefono_movil_3 = "--";
						$scope.NRC = "--";
						$scope.NIT = "--";
						$scope.giro = "--";
						$scope.descripcion_de_producto = "--";
						$scope.dia_de_entrega = "--";
						$scope.dia_de_pago = "--";
						$scope.no_cuenta_bancaria = "--";
						$scope.nombre_cuenta_bancaria = "--";
						$scope.banco = "--";
						$scope.nombre = "--";
					}
				});	
				
			}else{
				$scope.nombre_de_sociedad = "--";
				$scope.direccion_de_oficina = "--";
				$scope.direccion_de_venta = "--";
				$scope.direccion_de_cobro = "--";
				$scope.contacto_en_oficina = "--";
				$scope.contacto_en_bodega = "--";
				$scope.telefono_regular_oficina = "--";
				$scope.telefono_regular_bodega = "--";
				$scope.telefono_movil_1 = "--";
				$scope.telefono_movil_2 = "--";
				$scope.telefono_movil_3 = "--";
				$scope.NRC = "--";
				$scope.NIT = "--";
				$scope.giro = "--";
				$scope.descripcion_de_producto = "--";
				$scope.dia_de_entrega = "--";
				$scope.dia_de_pago = "--";
				$scope.no_cuenta_bancaria = "--";
				$scope.nombre_cuenta_bancaria = "--";
				$scope.banco = "--";
				$scope.nombre = "--";
			}
		};
		
		$scope.$watch("id", function(newVal, oldVal){
			$scope.consultarProveedor();
		});
		
	});
	
	$(document).ready(function(){
		var url_hd = new url_handler();
		url_hd.initialize();
		if(url_hd.isKey("codigo")){
			var cod = url_hd.getValue("codigo");
			$('#codigo_prov').val(cod);
			$('#codigo_prov').change();
		}
	});
</script>
<div ng-app="provApp" ng-controller="provController">
	<p>
		Código de proveedor
		<div class="input-control text span4">
			<input id="codigo_prov" type="text" ng-model="id" ng-change="consultarProveedor();"/>
		</div>
	</p>
	<h3 class="bg-cyan fg-white" style="padding-bottom:7px; padding-left: 3px;">Datos generales</h3>
	<div class="grid">
		<div class="row">
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>Código:</strong></p></td><td style="padding-left:10px;"><p> {{id}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Nombre comercial:</strong></p></td><td style="padding-left:10px;"><p> {{nombre}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Nombre de sociedad:</strong></p></td><td style="padding-left:10px;"><p> {{nombre_de_sociedad}}</p></td>
					</tr>
				</table>
			</div>
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>Dirección de oficina:</strong></p></td><td style="padding-left:10px;"><p> {{direccion_de_oficina}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Dirección de venta:</strong></p></td><td style="padding-left:10px;"><p> {{direccion_de_venta}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Dirección de cobro:</strong></p></td><td style="padding-left:10px;"><p> {{direccion_de_cobro}}</p></td>
					</tr>
				</table>
			</div>
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>NRC:</strong></p></td><td style="padding-left:10px;"><p> {{NRC}}</p></td>
					</tr>
					<tr>
						<td><p><strong>NIT:</strong></p></td><td style="padding-left:10px;"><p> {{NIT}}</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<h3 class="bg-cyan fg-white" style="padding-bottom:7px; padding-left: 3px;">Datos de contacto</h3>
	<div class="grid">
		<div class="row">
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>Contacto en oficina:</strong></p></td><td style="padding-left:10px;"><p> {{contacto_en_oficina}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Contacto en bodega:</strong></p></td><td style="padding-left:10px;"><p> {{contacto_en_bodega}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Teléfono de oficina:</strong></p></td><td style="padding-left:10px;"><p> {{telefono_regular_oficina}}</p></td>
					</tr>
				</table>
			</div>
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>Teléfono de bodega:</strong></p></td><td style="padding-left:10px;"><p> {{telefono_regular_bodega}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Teléfono móvil #1:</strong></p></td><td style="padding-left:10px;"><p> {{telefono_movil_1}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Teléfono móvil #2:</strong></p></td><td style="padding-left:10px;"><p> {{telefono_movil_2}}</p></td>
					</tr>
				</table>
			</div>
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>Teléfono móvil #3:</strong></p></td><td style="padding-left:10px;"><p> {{telefono_movil_3}}</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<h3 class="bg-cyan fg-white" style="padding-bottom:7px; padding-left: 3px;">Otros datos</h3>
	<div class="grid">
		<div class="row">
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>Descripción del producto:</strong></p></td><td style="padding-left:10px;"><p> {{descripcion_de_producto}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Día de entrega:</strong></p></td><td style="padding-left:10px;"><p> {{dia_de_entrega}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Día de pago:</strong></p></td><td style="padding-left:10px;"><p> {{dia_de_pago}}</p></td>
					</tr>
				</table>
			</div>
			<div class="span5">
				<table>
					<tr>
						<td><p><strong>No. cuenta bancaria:</strong></p></td><td style="padding-left:10px;"><p> {{no_cuenta_bancaria}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Nombre de la cuenta:</strong></p></td><td style="padding-left:10px;"><p> {{nombre_cuenta_bancaria}}</p></td>
					</tr>
					<tr>
						<td><p><strong>Banco:</strong></p></td><td style="padding-left:10px;"><p> {{banco}}</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>