<table class="table border">
	<thead>
		<tr>
			<th>Nombre comercial</th>
			<th>Dirección oficina</th>
			<th>Dirección cobro</th>
			<th>Contacto oficina</th>
			<th>Teléfono oficina</th>
			<th>Móvil #1</th>
			<th>Desc. Producto</th>
			<th>Día entrega</th>
			<th>Día pago</th>
		</tr>
	</thead>
	<tbody>
		<!-- START proveedores -->
		<tr>
			<td><a href="/terceros/terceros/consulta_proveedores?codigo={id}" target="_blank">{nombre}</a></td>
			<td>{direccion_de_oficina}</td>
			<td>{direccion_de_cobro}</td>
			<td>{contacto_en_oficina}</td>
			<td>{telefono_regular_oficina}</td>
			<td>{telefono_movil_1}</td>
			<td>{descripcion_de_producto}</td>
			<td>{c_{dia_de_entrega}}</td>
			<td>{c_{dia_de_pago}}</td>
		</tr>
		<!-- END proveedores -->
	</tbody>
</table>