<style type="text/css">
            body{
                background: url(../static/img/banner.jpg) no-repeat;
                background-position: bottom right;
            }
</style>
<div class="panel span10" data-role="panel">
	<div class="panel-header">
		Módulo de gestión de terceros
	</div>
	<div class="panel-content">
		<p>
			El módulo de control de gestión de terceros 
			permite el registro y control de todos aquellas
			personas naturales o jurídicas que tengan relación con la empresa u organización.
		</p>
		<p>
			<strong>Gestión de terceros</strong> le permite crear un registro de sus proveedores,
			de sus clientes, asociados u otros. De esta forma puede mejorar la relación existente con los interesados.
		</p>
	</div>
</div>
<p>
	<br/>
</p>
<div class="panel span10" data-role="panel">
	<div class="panel-header bg-lightBlue fg-white">
		Características	
	</div>
	<div class="panel-content">
		<p>
			<ul>
				<li>
					Gestión de proveedores
				</li>
				<li>
					Gestión de terceros
				</li>
				<li>
					Consultas rápidas
				</li>
			</ul>
		</p>
	</div>
</div>