<script type="text/javascript">
	var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);
	var patron_nrc = new Array(6, 1);
	
    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            
            d.value = val
            d.valant = val
        }
    }
	
	
	$(document).ready(function(){
		var url_parser = new url_handler();
        url_parser.initialize();
		if (url_parser.isKey('status')) {
            if (url_parser.getValue('status') == 'save') {
                var not = $.Notify({
	    		caption: "Éxito",
	        	content: "Proveedor insertado correctamente",
	        	timeout: 3000,
				style: {background: 'green', color: 'white'}
	    	});
            }
        }
	});
</script>
<div>
	<p class="fg-red">
		Totos los campos marcados con asterisco "*" son obligatorios
		<br/>
		<br/>
	</p>	
</div>
<form action="/terceros/terceros/guardar_proveedor" method="post">
	<div>
		<div class="span4" style="float: left;">
			<h4>Datos generales</h4>
			<span class="fg-red"><strong>*</strong></span> Nombre de sociedad
			<div class="input-control text">
				<input type="text" name="nombre_de_sociedad" required/>
			</div>
			<span class="fg-red"><strong>*</strong></span> Nombre comercial
			<div class="input-control text">
				<input type="text" name="nombre" required/>
			</div>
			<span class="fg-red"><strong>*</strong></span> Dirección de oficina
			<div class="input-control text">
				<input type="text" name="direccion_de_oficina" required/>
			</div>
			<span class="fg-red"><strong>*</strong></span> NRC 
			<div class="input-control text">
				<input type="text" name="NRC" onkeyup="mascara(this, '-', patron_nrc, true)" maxlength="8" required/>
			</div>
			<span class="fg-red"><strong>*</strong></span> NIT 
			<div class="input-control text">
				<input type="text" name="NIT" onkeyup="mascara(this, '-', patron_nit, true)" maxlength="17" required/>
			</div>
			<span class="fg-red"><strong>*</strong></span>
			Dirección de venta 
			<div class="input-control text">
				<input type="text" name="direccion_de_venta" required/>
			</div>
			<span class="fg-red"><strong>*</strong></span>
			Dirección de cobro 
			<div class="input-control text">
				<input type="text" name="direccion_de_cobro" required/>
			</div>
		</div>
		<div class="span4" style="float: left; margin-left: 30px;">
			<h4>Datos de contacto</h4>
			<span class="fg-red"><strong>*</strong></span> Contacto en oficina 
			<div class="input-control text">
				<input type="text" name="contacto_en_oficina" required/>
			</div>
			Contacto en bodega
			<div class="input-control text">
				<input type="text" name="contacto_en_bodega"/>
			</div>
			<span class="fg-red"><strong>*</strong></span>
			Teléfono regular en oficina 
			<div class="input-control text">
				<input type="text" name="telefono_regular_oficina" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" required/>
			</div>
			Teléfono regular en bodega
			<div class="input-control text">
				<input type="text" name="telefono_regular_bodega" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
			</div>
			<span class="fg-red"><strong>*</strong></span> Teléfono móvil 1 
			<div class="input-control text">
				<input type="text" name="telefono_movil_1" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" required/>
			</div>
			Teléfono móvil 2
			<div class="input-control text">
				<input type="text" name="telefono_movil_2" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
			</div>
			Teléfono móvil 3
			<div class="input-control text">
				<input type="text" name="telefono_movil_3" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
			</div>
			
		</div>
		<div class="span4" style="float: left;margin-left: 30px;">
			<h4>Otros datos</h4>
			<span class="fg-red"><strong>*</strong></span> Descripción general del producto 
			<div class="input-control text">
				<input type="text" name="descripcion_de_producto" required/>
			</div>
			<span class="fg-red"><strong>*</strong></span> Día de entrega 
			<div class="input-control select">
				<select name="dia_de_entrega">
					<option value="1">Lunes</option>
					<option value="2">Martes</option>
					<option value="3">Miércoles</option>
					<option value="4">Jueves</option>
					<option value="5">Viernes</option>
					<option value="6">Sábado</option>
					<option value="7">Domingo</option>
				</select>
			</div>
			<span class="fg-red"><strong>*</strong></span> Día de pago 
			<div class="input-control select">
				<select name="dia_de_pago">
					<option value="1">Lunes</option>
					<option value="2">Martes</option>
					<option value="3">Miércoles</option>
					<option value="4">Jueves</option>
					<option value="5">Viernes</option>
					<option value="6">Sábado</option>
					<option value="7">Domingo</option>
				</select>
			</div>
			<hr/>
			Cuenta bancaria no 
			<div class="input-control text">
				<input type="text" name="no_cuenta_bancaria"/>
			</div>
			Nombre de la cuenta bancaria
			<div class="input-control text">
				<input type="text" name="nombre_cuenta_bancaria"/>
			</div> 
			Banco
			<div class="input-control text">
				<input type="text" name="banco"/>
			</div>
			<hr/>
			<div style="text-align: right;">
				<button class="primary">Guardar proveedor</button>
			</div>
		</div>
	</div>
</form>
<div style="clear: both;"></div>
