<script type="text/javascript">
	var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);
	var patron_nrc = new Array(6, 1);
	
    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            
            d.value = val
            d.valant = val
        }
    }
	
	
	$(document).ready(function(){
		var url_parser = new url_handler();
        url_parser.initialize();
		if (url_parser.isKey('status')) {
            if (url_parser.getValue('status') == 'save') {
                var not = $.Notify({
	    		caption: "Éxito",
	        	content: "Tercero insertado correctamente",
	        	timeout: 3000,
				style: {background: 'green', color: 'white'}
	    	});
            }
        }
		
		$("#fecha_nacimiento").datepicker({
			date: "01/01/2000", // set init date
			format: "yyyy/m/d", // set output format
			effect: "slide", // none, slide, fade
			position: "bottom", // top or bottom,
			locale: 'es', // 'ru' or 'en', default is $.Metro.currentLocale
		});
		
	});
</script>
<div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#_page_1">Persona natural</a></li>
        <li><a href="#_page_2">Institucional</a></li>
    </ul>
 
    <div class="frames">
        <div class="frame" id="_page_1">
			<form action="/terceros/terceros/guardar_tercero" method="post">
				<div>
					<div class="span4" style="float: left;">
						<h4>Datos generales</h4>
						Nombres
						<div class="input-control text">
							<input type="text" name="nombres"/>
						</div>
						Apellidos
						<div class="input-control text">
							<input type="text" name="apellidos" />
						</div>
						Dirección
						<div class="input-control text">
							<input type="text" name="direccion"/>
						</div>
						NIT
						<div class="input-control text">
							<input type="text" name="NIT" onkeyup="mascara(this, '-', patron_nit, true)" maxlength="17"/>
						</div>
						Fecha de nacimiento
						<div id="fecha_nacimiento" class="input-control text">
							<input type="text"  id="fecha" name="fecha_de_nacimiento"/>
							<button type="button" class="btn-date"></button>
						</div>
					</div>
					<div class="span4" style="float: left; margin-left: 10px;">
						<h4>Datos de contacto</h4>
						Teléfono de trabajo
						<div class="input-control text">
							<input type="text" name="telefono_regular_oficina" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"//>
						</div>
						Teléfono de casa
						<div class="input-control text">
							<input type="text" name="telefono_regular_casa" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"//>
						</div>
						Teléfono móvil 1
						<div class="input-control text">
							<input type="text" name="telefono_movil_1" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
						</div>
						Teléfono móvil 2
						<div class="input-control text">
							<input type="text" name="telefono_movil_2" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
						</div>
						Teléfono móvil 3
						<div class="input-control text">
							<input type="text" name="telefono_movil_3" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
						</div>
						Correo 1
						<div class="input-control text">
							<input type="text" name="correo_electronico_1" />
						</div>
						Correo 2
						<div class="input-control text">
							<input type="text" name="correo_electronico_2" />
						</div>
					</div>
					<div class="span4" style="float: left;margin-left: 10px;">
						<h4>Otros datos</h4>
						Dirección de trabajo
						<div class="input-control text">
							<input type="text" name="descripcion_de_oficina"/>
						</div>
						Iglesia donde se congrega
						<div class="input-control text">
							<input type="text" name="lugar_de_congregacion"/>
						</div>
						Denominación
						<div class="input-control text">
							<input type="text" name="denominacion"/>
						</div>
						Dirección de la iglesia
						<div class="input-control text">
							<input type="text" name="direccion_congregacion"/>
						</div> 
						Teléfono de la iglesia
						<div class="input-control text">
							<input type="text" name="telefono_regular_congregacion"/>
						</div>
						Nombre de pastor
						<div class="input-control text">
							<input type="text" name="nombre_pastor_1"/>
						</div>
						<button class="primary">Guardar tercero</button>
					</div>
				</div>
			</form>		
			<div style="clear: both;"></div>
		</div>
        <div class="frame" id="_page_2">
			<form action="/terceros/terceros/guardar_tercero" method="post">
				<div>
					<div class="span4" style="float: left;">
						<h4>Datos generales</h4>
						Nombre de sociedad
						<div class="input-control text">
							<input type="text" name="nombre_de_sociedad"/>
						</div>
						Nombre comercial
						<div class="input-control text">
							<input type="text" name="nombre" />
						</div>
						Dirección de oficina
						<div class="input-control text">
							<input type="text" name="direccion_de_oficina"/>
						</div>
						NRC
						<div class="input-control text">
							<input type="text" name="NRC" onkeyup="mascara(this, '-', patron_nrc, true)" maxlength="8"/>
						</div>
						NIT
						<div class="input-control text">
							<input type="text" name="NIT" onkeyup="mascara(this, '-', patron_nit, true)" maxlength="17"/>
						</div>
						Dirección de venta
						<div class="input-control text">
							<input type="text" name="direccion_de_venta"/>
						</div>
						Dirección de cobro
						<div class="input-control text">
							<input type="text" name="direccion_de_cobro"/>
						</div>
					</div>
					<div class="span4" style="float: left; margin-left: 10px;">
						<h4>Datos de contacto</h4>
						Contacto en oficina
						<div class="input-control text">
							<input type="text" name="contacto_en_oficina"/>
						</div>
						Contacto en bodega
						<div class="input-control text">
							<input type="text" name="contacto_en_bodega"/>
						</div>
						Teléfono regular en oficina
						<div class="input-control text">
							<input type="text" name="telefono_regular_oficina" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"//>
						</div>
						Teléfono regular en bodega
						<div class="input-control text">
							<input type="text" name="telefono_regular_bodega" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"//>
						</div>
						Teléfono móvil 1
						<div class="input-control text">
							<input type="text" name="telefono_movil_1" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
						</div>
						Teléfono móvil 2
						<div class="input-control text">
							<input type="text" name="telefono_movil_2" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
						</div>
						Teléfono móvil 3
						<div class="input-control text">
							<input type="text" name="telefono_movil_3" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9"/>
						</div>
						
					</div>
					<div class="span4" style="float: left;margin-left: 10px;">
						<h4>Otros datos</h4>
						Descripción general del producto
						<div class="input-control text">
							<input type="text" name="descripcion_de_producto"/>
						</div>
						Día de entrega
						<div class="input-control select">
							<select name="dia_de_entrega">
								<option value="1">Lunes</option>
								<option value="2">Martes</option>
								<option value="3">Miércoles</option>
								<option value="4">Jueves</option>
								<option value="5">Viernes</option>
								<option value="6">Sábado</option>
								<option value="7">Domingo</option>
							</select>
						</div>
						Día de pago
						<div class="input-control select">
							<select name="dia_de_pago">
								<option value="1">Lunes</option>
								<option value="2">Martes</option>
								<option value="3">Miércoles</option>
								<option value="4">Jueves</option>
								<option value="5">Viernes</option>
								<option value="6">Sábado</option>
								<option value="7">Domingo</option>
							</select>
						</div>
						Cuenta bancaria no
						<div class="input-control text">
							<input type="text" name="no_cuenta_bancaria"/>
						</div>
						Nombre de la cuenta bancaria
						<div class="input-control text">
							<input type="text" name="nombre_cuenta_bancaria"/>
						</div> 
						Banco
						<div class="input-control text">
							<input type="text" name="banco"/>
						</div>
						<button class="primary">Guardar tercero</button>
					</div>
				</div>
			</form>		
			<div style="clear: both;"></div>
		</div>
    </div>
</div>
